pipeline/PL_Copy_Customer.json
{
	"name": "PL_Copy_Customer",
	"properties": {
		"description": "Picks the latest file from the Folder.\nCustomer, Accounts, Party. \njust copy the latest file from the entire folder.",
		"activities": [
			{
				"name": "Files in Folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_binary_Path",
						"type": "DatasetReference",
						"parameters": {
							"pContainerName": "data",
							"pDirectoryName": "landing_dir"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "FIle in a Folder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Customer Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Customer Files').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get Metadata of FIle",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_binary_File",
									"type": "DatasetReference",
									"parameters": {
										"pContainerName": "data",
										"pdirectoryname": "landing_dir",
										"pfilename": "@item().name"
									}
								},
								"fieldList": [
									"itemName",
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata of FIle",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(formatDateTime(activity('Get Metadata of FIle').output.lastModified,'yyyyMMddHHmmss'),formatDateTime(variables('vLastModifiedDate'),'yyyyMMddHHmmss'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "vLastFileName",
											"value": {
												"value": "@activity('Get Metadata of FIle').output.itemName",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Copy data to Loading Dir",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FIle in a Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_binary_File",
						"type": "DatasetReference",
						"parameters": {
							"pContainerName": "data",
							"pdirectoryname": "landing_dir",
							"pfilename": {
								"value": "@variables('vLastFileName')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_binary_File",
						"type": "DatasetReference",
						"parameters": {
							"pContainerName": "data",
							"pdirectoryname": "loading_dir",
							"pfilename": "@variables('vLastFileName')"
						}
					}
				]
			},
			{
				"name": "Customer Files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Files in Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Files in Folder').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'CUSTOMER')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Delete Processed FIle",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Data flow1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_binary_File",
						"type": "DatasetReference",
						"parameters": {
							"pContainerName": "data",
							"pdirectoryname": "loading_dir",
							"pfilename": "@variables('vLastFileName')"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "LS_ADLS_StgaccntDevCustomerdata",
							"type": "LinkedServiceReference"
						},
						"path": "data/logs/"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy data to Loading Dir",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_Process_Customer_Data",
						"type": "DataFlowReference",
						"parameters": {
							"DFParam": {
								"value": "'@{variables('vLastFileName')}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"Customer": {
								"DSFileName": "CUSTOMER_2011-07-14_000000.000000.txt"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"vLastFileName": {
				"type": "String",
				"defaultValue": "Dummy.txt"
			},
			"vLastModifiedDate": {
				"type": "String",
				"defaultValue": "1990-01-01T05:12:22Z"
			}
		},
		"folder": {
			"name": "Generic/MDM"
		},
		"annotations": []
	}
}