pipeline/PL_GetSourceFiles.json
{
	"name": "PL_GetSourceFiles",
	"properties": {
		"activities": [
			{
				"name": "Get All File from Folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_binary_Path",
						"type": "DatasetReference",
						"parameters": {
							"pContainerName": "data",
							"pDirectoryName": "landing_dir"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "For Each FIle",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get All File from Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get All File from Folder').output.childItems",
						"type": "Expression"
					},
					"isSequential": true
				}
			}
		],
		"variables": {
			"LastFileName": {
				"type": "String"
			},
			"LastModifiedDate": {
				"type": "String",
				"defaultValue": "1990-01-01T05:12:22Z"
			}
		},
		"annotations": []
	}
}